# This is the last version that uses Pydantic 1.X (required to generate valid schemas)
fhir.resources==7.1.0

outlines

transformers
datasets
accelerate
torch
sentencepiece

# For tests:
#spacy
#nltk
#sacremoses

# xgrammar (alternative to outlines)
#xgrammar
#cuda-python
#nvidia-cuda-nvrtc-cu12

# For Smolagents
smolagents
openai
litellm

# For AcademicCloud
requests
BeautifulSoup4